<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
{% block title -%}
{% if title -%}
        <title>Бюстгальтериум - {{title}}</title>
{% else -%}
        <title>Бюстгальтериум</title>
{% endif -%}     
{% endblock -%}        
</head>
<header>
<div id="siteTitle">
<div id="logo" >
<img id="logo" src="/static/images/title.png" width="100" height="50" alt="">
</div>
</div>        
{% block content -%}
        {% block mainmenu -%}
<ul class="mainmenu" id="ul_menu">
        {% for m in menu -%}
<li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
</ul>
        {% endblock mainmenu -%}
<div class="clear"></div>
</header>
<div id="health">
   
    <div id="healthtitle">
        <div id="space">
        </div>
        <div id="space">
        </div>
        <h2 id="nameTag2">Здоровье</h2>
        <p></p>
        <h1 id="nameTag1">Поговорим о диетах… А точнее, об их вреде</h1>
        <h3 id="nameTag3">Марина Орехова</h3>
        <div id="space">
        </div>
        
        <div id="space">
        </div>
        
    </div>
    
</div>
<p></p>
<div id="paraBlock">     
<div id="yellowText">
        <p>В последние десятилетия диеты стали неотъемлемой частью культуры заботы о здоровье. 
                Однако, за всеми обещаниями о снижении веса и улучшении физического состояния таится 
                забытая сторона – воздействие диеты на психическое здоровье и тело.</p>        
</div>
</div>
<div id="state">
        <p>Различные исследования и клинические наблюдения предостерегают нас от принятия необдуманного решения сесть на какую-либо диету. 
                Хотя многое зависит от конкретно выбранной диеты – действительно, существую такие, которые существенно вредят здоровью физическому
                 и психическому (диета на соках, кетодиета, японская диета и т.д.). Однако есть и исключения, в виде безопасных диет (средиземноморская,
                  северная, флекситарианская и т.д.). Но, конечно же, не обойдется и без жирного «но». На которое, кстати, обращают внимание все планирующие
                   похудеть. Это их длительность. Да-да, чтобы на них похудеть потребуется минимум 6 месяцев. А происходит это тогда, когда человек уже
                полностью перестраивает свой режим питания и рацион. Да, они безопасны, но медленны, что очень отталкивает девушек или парней.
                </p><p>
                И сейчас давайте зададимся вопросом. Чего может стоить похудение на выбранной вами диете? Только ли постройневшее тело станет конечной точкой такого «приключения»?
                </p>
        <div id="picture-right">
                <figure class="right">
                <img src="/static/images/dieta1.jpg">
        </figure>
        <p>В 2018 году было проведено исследование «Psychological Impact of Dieting» в Университете психологии. Оно выявило интересную закономерность
                 – долгосрочное соблюдение диет может увеличивать уровень стресса и тревожности у испытуемых. Хотя при всем при этом они отметили и плюс
                  диет – после достижения цели (похудения) у людей повышается самооценка и уверенность в себе. Да, мы не можем отрицать, что желание
                   получить именно это на выходе является основополагающей целью сбрасывания килограммов. Но какой ценой? Поговорим дальше.</p>
                </div>
        <p>И вот не уходя далеко от кассы, рассмотрим как раз таки первое негативное следствие использования диеты. А именно психологическое напряжение
                и стресс. Кто хотя бы раз испытывал на себе диету, которая кардинально отличается от его меню – поймет. В нем постоянно идет борьба ангела
                и демона, желания похудеть и желания вкусно поесть. И здесь человек может столкнуться с последствиями постоянной войны с собой. Стресс, 
                напряжение, апатия, а потом и депрессия – а все это может возникнуть из-за возведения себе рамок в питании. Ну и наверняка многие слышали 
                о РПП – расстройстве пищевого поведения, когда отношения с едой ухудшаются. То есть человек уже не может воспринимать пищу как источник 
                энергии и полезных витаминов. Для него – это враг номер один, источник всех бед. Знакомы ли вам слова анорексия, булимия? Они как раз таки 
                возникают на фоне РПП.</p>
        <p>
                Но бок о бок с этой проблемой идет следующая – отрицательное восприятие своего тела. Как только девушка/парень обращается к диете, что он 
                начинает делать? Правильно, исправлять недостатки (по его мнению), которые его не устраивают. Но с похудением эти проблемы не заканчиваются
                 – он продолжает видеть их даже после изменений. И не может остановиться, тут опять же можно вспомнить анорексию. А все потому, что человек
                 начинает ассоциировать свою значимость и удовлетворенность жизнью с конкретным весом или внешним видом. А это постоянный спутник проблем 
                с самооценкой, и мы снова можем вспомнить об РПП. Повезло тем, кто смог вовремя остановиться и признать, что его тело уже совершенно. Но, 
                увы, явление нечастое…
        </p>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/dieta2.jpg">
        </figure>
        <p>Психологическое состояние, отрицательно восприятие своего тела, Бог с ними. Но худеющий же постоянно думает лишь о том, что не должен сорваться,
                 что должен употребить определенное количество калорий и скинуть столько-то килограммов. Ну ладно, может это все абстрактно. Но диеты, а в 
                 особенности низкокалорийные, имеют одно очень «интересное» свойство – они вызывают энергетический дефицит. И это уже отрицательно сказывается 
                 на уровне энергии и концентрации. Недостаток питательных веществ может привести к утомлению и трудностям в выполнении повседневных задач, что 
                 в свою очередь влияет на эмоциональное состояние. И опять мы возвращаемся к пункту один. А может все-таки не Бог с ним?</p>
                </div>
        <p>
                А дальше что? Продолжаем нагнетать обстановку. И тут уже «подкатила» в веселую компашку социальная изоляция. Для худеющих людей строгие диеты
                 – это не только стресс, но и настоящая каторга на каких-либо общественных мероприятиях. Они постепенно чувствуют себя изолированными от
                  других просто потому, что не могут наслаждаться тем же, что и ближний. А еще приходится отказываться от участия в обедах, ужинах или других
                   событиях, связанных с пищей. Ведь что ему там делать, если он даже не может позволить себе кусочек вкусной пиццы или же время уже натикало
                   , значит, сегодня ни-ни.
        </p>
        <p>
                Да уж, мы все говорим о ментальном здоровье. Расскажем и о физическом здоровье. Хотя это немаловажный пункт в этом вопросе, и он точно не
                должен быть последним. Во-первых, недостаток питательных веществ станет причиной ослабления иммунной системы и, в целом, здоровья. Во-вторых,
                диеты легко нарушают качество метаболизма, соответственно, вес после отказа от диеты легко вернется к вам обратно. Отметим и последствия от
                отдельных диет. К примеру, те, которые насыщены жирами и холестерином, могут увеличивать риск сердечно-сосудистых заболеваний, особенно при
                длительном применении. Отказ от белков может привести и к потере мышечной массы. В общем, этот список можно продолжать бесконечно. Но даже
                вот эти пункты уже заставляют призадуматься – а надо ли оно мне?
        </p>
</div>
<div id="paraBlock">     
        <div id="yellowText1">
                <p>Так вот, диеты – это, конечно, хорошо. Похудеем, уверенность поднимем из-под плинтуса, может и жизни начнем радоваться. Мешает слово
                 «может». Ведь пока идешь ко всему этому, потеряешь куда более ценные вещи. А может все же старое доброе сбалансированное питание и спорт?
                  Но ответ на этот вопрос уже даст каждый сам.</p>        
        </div>
        </div>
        <p></p>

{% endblock -%} 

{% block footer -%}
<footer>
        <div class="textcols">
                <div class="textcols-item" style="text-align: left; padding-left:200px">
                        <h2>Бюстгальтериум</h2>
                        <a href="https://t.me/bustgalteriym">t.me/bustgalteriym</a>
                </div>
                <div class="textcols-item"style="text-align: left; padding-left:200px">
                        <p>Наши контакты:</p>
                        <p>+79827942449</p>
                        <p>olgabeznosova2@gmail.com</p>
                        <p>Ижевск, ул. Университетская 1,</p>
                        <p>2 этаж, офис 223</p>
                </div>
        </div>
</footer>
{% endblock -%} 
</html>