{% extends 'base.html' %}

{% block content %}
{{ super() }}
<hr>
<div id="longreads">
   
    <div id="healthtitle">
        <div id="space">
        </div>
        <div id="space">
        </div>
        <h2 id="nameTag2">Бюстгальтериум</h2>
        <p></p>
        <h1 id="nameTag1">Лонгриды</h1>
        <div id="space">
        </div>
        <div id = "textWindow"><p>Добро пожаловать в раздел "Лонгриды", где мы прославляем дух приключений. Присоединяйтесь к нам, и мы погрузимся в 
            мир автомобильных путешествий, исследуя свободу, азарт и силу.<br>
            Откройте для себя красоту путешествия не только в пункте назначения, но и на живописных маршрутах, скрытых жемчужинах и неизведанных местах,
             которые ждут своего часа. Независимо от того, являетесь ли вы опытным путешественником или новичком в дорожных путешествиях, Лонгриды в сочетании
              с интерактивными картами - это то, что вам нужно для путешествий по родному городу или же по неизведанным местам. Так что пристегнитесь,
               опустите окна и давайте отправимся в незабываемые приключения вместе.</p>
       </div>
        
        
        <div id="space">
        </div>
        
    </div>
    
    
</div>
<div id = compilation3>
    <p></p>
   <div id="linearObjects">
    <div id="udmCities">
        <a href="udmCities" id="zebra"><div id="hiddenText">
                <h4>Удмуртия в городах</h4>
                <p>Лада Горбунова</p>
                </div> </a>
    </div>
    <div id="abhazia1">
        <a href="abhazia" id="abhazia"><div id="hiddenText">
                <h4>Заметки путешественников: Абхазия</h4>
                <p>Марина Орехова</p>
                </div> </a>
    </div>
    <div id="sport1">
        <a href="sport" id="sport"><div id="hiddenText">
                <h4>Профессиональный спорт для детей: здоровье или вред</h4>
                <p>Ольга Безносова</p>
                </div> </a>
    </div>
   </div>
   <div id="linearObjects">
    <div id="udmStreets">
        <a href="udmStreets" id="zebra"><div id="hiddenText">
                <h4>Улицы Ижевска, названные в честь женщин</h4>
                <p>Анна Хохрякова</p>
                </div> </a>
    </div>
    <div id="ambulance">
        <a href="ambulance" id="zebra"><div id="hiddenText">
                <h4>Не очень скорая помощь</h4>
                <p>Анна Хохрякова</p>
                </div> </a>
    </div>
   </div>
   <p></p>

</div>
{% endblock %}