{% extends 'base.html' %}

{% block content %}
{{ super() }}
<hr>
<div id="udmCitiesHead">
   
    <div id="healthtitle">
        <div id="space">
        </div>
        <div id="space">
        </div>
        <h2 id="nameTag2white">Путешествия</h2>
        <p></p>
        <h1 id="nameTag1white">Удмуртия в городах</h1>
        <h3 id="nameTag3white">Лада Горбунова</h3>
        <div id="space">
        </div>
        
        <div id="space">
        </div>
        
    </div>
</div>
</div>
<div id="state">
    <div id="paraBlock">  
    <div id="greyText">
        <p>Вы когда-нибудь путешествовали по Удмуртии? Немного о культуре каждого города, покажет вам республику.</p>        
    </div>
    </div>
    <div id="paraBlock">     
        <div id="greenText">
            <span id="greenText">Удмуртия — республика в составе Российской Федерации, расположенная в Восточной Европе. Эта небольшая, но удивительно красивая
                республика богата своей историей, культурой и традициями. В Удмуртии есть несколько замечательных городов, каждый из которых
                обладает своим уникальным характером и очарованием.</span>        
        </div>
        </div>
        <div id="picture-right">
                <figure class="right">
                <img src="/static/images/udmCities1.jpg">
        </figure>
        <p>Ижевск — культурный центр Удмуртии, который богат разнообразными культурными традициями и достопримечательностями. В городе можно найти
             множество музеев, театров, галерей и других культурных учреждений.
        </p>
                </div>
        <p>Одним из символов Ижевска является музей оружия "Ижевский музей-заповедник", где представлена история развития оружейной промышленности в регионе.
             Здесь можно узнать о создании знаменитого автомата Калашникова, огнестрельном оружии и других инновациях в этой области.</p>
        <p>
            Театральная жизнь Ижевска также насыщена. Город может похвастаться несколькими театрами, включая Удмуртский республиканский театр кукол,
             где проводятся яркие постановки для детей и взрослых. Также в Ижевске действует Удмуртский театр драмы имени А. М. Горького, где можно
              насладиться высококачественными театральными постановками.
        </p>
        <p>
            Город также известен своими музыкальными и художественными событиями. В Ижевске регулярно проводятся концерты различных жанров, фестивали и
            выставки, которые привлекают как местных жителей, так и гостей города.<br>
            Культурная жизнь Ижевска является важной частью его общественного развития, способствует сохранению и продвижению национальной культуры удмуртов
             и других этнических групп, а также обогащает культурное наследие всей страны.
        </p>
        <div id="picture-right">
            <figure class="right">
            <img src="/static/images/udmCities2.jpg">
    </figure>
    <p>Воткинск — это небольшой город в Удмуртской Республике, который также богат культурными традициями и достопримечательностями. Воткинск известен как
         родина великого композитора Петра Ильича Чайковского, который здесь провел детство и юность.
    </p>
            </div>
    <p>Одним из символов культуры Воткинска является Чайковский музей, расположенный в доме, где жил и работал композитор. В музее можно увидеть экспозиции,
         посвященные жизни и творчеству Чайковского, его семье и окружению.</p>
    <p>
        В городе также активно развивается музыкальная культура. Здесь проводятся концерты, фестивали, мастер-классы, посвященные музыке и искусству.
         Местные музыканты и артисты часто выступают на различных площадках, делая культурную жизнь города более насыщенной.
    </p>
    <p>
        Воткинск также славится своими художественными выставками, театральными постановками и литературными мероприятиями.
         Местные художники, писатели и актеры активно участвуют в культурной жизни города, принося свои таланты и идеи в общее творческое пространство.
    </p>
    <p>
        Культура Воткинска является важной частью его истории и наследия. Город продолжает развивать и сохранять свои традиции, привлекая к себе
         внимание как местных жителей, так и гостей, желающих погрузиться в атмосферу уникального культурного наследия этого удивительного места.
    </p>
</div>
<div id="picture-right">
    <figure class="right">
    <img src="/static/images/udmCities3.jpg">
</figure>
<p>Глазов — это еще один интересный город в Удмуртской Республике, который обладает своим уникальным культурным наследием и традициями.
</p>
<p>В городе Глазове можно найти разнообразные культурные учреждения, такие как музеи, театры, художественные галереи и центры культуры.
     Они являются местами для проведения выставок, концертов, театральных постановок, лекций и других культурных мероприятий.</p>
<p>
    Особое внимание в культурной жизни Глазова уделяется народному творчеству и ремеслам. Местные мастера сохраняют и передают традиции
     народного ремесла, такие как резьба по дереву, вышивка, лепка из глины и другие виды ручного труда. Эти уникальные изделия часто можно
      увидеть на ярмарках и выставках ремесел.
</p>
<p>
    Музыкальная культура также занимает важное место в жизни города. В Глазове проводятся концерты различных жанров — от классической музыки до
     популярной и народной. Местные музыканты и артисты активно участвуют в культурных мероприятиях, делая их более разнообразными и интересными.
</p>
<p>
    Культурное наследие Глазова отражает богатство и многообразие удмуртской культуры. Город стремится сохранить и развивать свои традиции,
     привлекая культурных деятелей и любителей искусства со всего мира, чтобы поделиться своим уникальным культурным наследием.
</p>
</div>
<div id="picture-right">
    <figure class="right">
    <img src="/static/images/udmCities4.jpg">
</figure>
<p>Сарапул — это еще один удмуртский город, который обладает богатой культурной и исторической наследием.
     В этом городе можно найти множество интересных культурных достопримечательностей и традиций.
</p>
<p>
    В культурной жизни Сарапула важное место занимает народное творчество и ремесла. Местные мастера занимаются различными видами ручного труда,
     такими как резьба по дереву, лепка из глины, вышивка и другие виды народного ремесла. Их работы часто можно увидеть на ярмарках и выставках.
</p>
<p>
    Город также известен своими культурными учреждениями, такими как музеи, театры, художественные галереи и центры культуры. В них проводятся выставки,
     концерты, театральные постановки, лекции и другие культурные мероприятия, которые привлекают как местных жителей, так и гостей города.
</p>
<p>
    Музыкальная культура также имеет важное значение в Сарапуле. Город организует концерты различных жанров — от классической музыки до современной и народной.
     Местные музыканты и артисты активно участвуют в культурной жизни города, принося свои таланты и творчество в общественное пространство.
</p>
<p>
    Культура Сарапула отражает богатство и разнообразие удмуртской культуры. Город старается сохранить и развивать свои традиции,
     привлекая культурных деятелей и любителей искусства, чтобы сделать его культурную жизнь еще более яркой и насыщенной.
</p>
</div>
<div id="picture-right">
    <figure class="right">
    <img src="/static/images/udmCities5.jpg">
</figure>
<p>Можга — это небольшой город в России, расположенный в Кировской области. Культура Можги отражает богатое наследие и традиции этого региона.
     Вот несколько ключевых аспектов культуры Можги:
</p>
<p>
    1. Народное творчество: В Можге как и во многих других регионах России ценится народное творчество, включая народные песни, танцы, вышивку, резьбу
     по дереву и прочие ремесла.
</p>
<p>
    2. Исторические памятники: В городе и его окрестностях можно найти различные исторические памятники,
     такие как церкви, усадьбы, памятники архитектуры, которые отражают историю и культурное наследие региона.
</p>
<p>
    3. Фольклор и традиции: Можга богата фольклорными традициями, включая народные сказания, обычаи,
     праздники и ритуалы, которые передаются из поколения в поколение.
</p>
<p>
    4. Местные мероприятия: В городе проводятся различные культурные мероприятия, фестивали,
     концерты, выставки и ярмарки, где можно познакомиться с местными художниками, мастерами и творческими коллективами.
</p>
<p>
    5. Кухня: Традиционная кухня Можги отражает особенности региональной культуры.
     Здесь можно попробовать разнообразные блюда национальной кухни, включая местные деликатесы и традиционные рецепты.
</p>
</div>
<iframe
src=https://uploads.knightlab.com/storymapjs/3ffbf4e22d11ecf8c5a7660a7c1f5dfc/udmurtiia-v-gorodakh/index.html frameborder="0" width="100%"
height="800"></iframe>
<div id="paraBlock">     
    <div id="greenText">
        <span id="greenText">В целом, города Удмуртии представляют собой уникальное сочетание истории, культуры и природы.
             Посещение этих городов позволит окунуться в атмосферу удивительного региона России, познакомиться с его уникальными
              традициями и насладиться его красотой.</span>        
    </div>
    </div>
        <p></p>

{% endblock %}