<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
{% block title -%}
{% if title -%}
        <title>Бюстгальтериум - {{title}}</title>
{% else -%}
        <title>Бюстгальтериум</title>
{% endif -%}     
{% endblock -%}        
</head>
<header>
<div id="siteTitle">
<div id="logo" >
<img id="logo" src="/static/images/title.png" width="100" height="50" alt="">
</div>
</div>        
{% block content -%}
        {% block mainmenu -%}
<ul class="mainmenu" id="ul_menu">
        {% for m in menu -%}
<li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
</ul>
        {% endblock mainmenu -%}
<div class="clear"></div>
</header>
<div id="women_products">
   
    <div id="healthtitle">
        <div id="space">
        </div>
        <div id="space">
        </div>
        <h2 id="nameTag2white">Кулинария</h2>
        <p></p>
        <h1 id="nameTag1white">Продукты для женской красоты, молодости и здоровья</h1>
        <h3 id="nameTag3white">Анна Хохрякова</h3>
        <div id="space">
        </div>
        
        <div id="space">
        </div>
        
    </div>
    
</div>
<p></p>

<div id="state">
        <p>Доброго времени суток, красотки! В этом материале рассмотрим продукты, которые помогут поддерживать наше с вами здоровье. Что же нужно
                 употреблять в пищу, чтобы каждый день чувствовать легкость и молодость? Давайте разберёмся в этом вопросе) Приятного чтения!
                </p><p>
                        Мы есть то, что мы едим. И это действительно так. Продукты, которые мы употребляем в пищу, напрямую влияют на красоту, здоровье
                         и общее самочувствие, помогают сохранять бодрость и энергию, замедляют старение, поддерживают организм во время беременности и
                          менопаузы, а также снижают риск развития рака молочной железы и сердечно-сосудистых заболеваний.
                </p><p>
                        А все потому, что содержат ценные вещества, необходимые для здоровья и долголетия женщины. Поэтому стоит включать эти продукты в
                         свой рацион хотя бы раз в неделю, а затем постепенно увеличивать их количество до рекомендованного специалистами уровня.
                </p>
        <h2>Кефир, йогрут, айран</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products1.jpg">
        </figure>
        <p>Здоровое питание невозможно без молочных продуктов, и хотя растительное молоко становится всё популярнее, йогурт, кефир и айран остаются важными 
                составляющими рациона. В них содержатся пробиотики — полезные бактерии, поддерживающие работу кишечника и укрепляющие организм.</p>
        <p>По словам доктора медицинских наук, диетолога Элизабет Сомер, регулярное употребление йогурта может снизить риск развития рака молочной железы, 
                а также уменьшить проблемы, связанные с синдромом раздражённого кишечника, язвой желудка и вагинальными инфекциями у женщин.</p>
                </div>
        <h3>Лосось, сардины, скумбрия</h3>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/women_products2.jpeg">
        </figure>
        <p>Рекомендуется употреблять жирные сорта рыбы 2–3 раза в неделю. Такая рыба прекрасно подходит для приготовления на гриле и служит отличным дополнением
                 к ужину или ингредиентом для сытного салата. Кроме того, она является одним из лучших источников омега-3, -6 и -9 жирных кислот.</p>
        <p>Диетолог Лори Тансман отмечает, что ненасыщенные жирные кислоты способствуют укреплению сердца, предупреждают развитие инсульта, гипертонии и депрессии,
                 а также снижают риск возникновения болезни Альцгеймера.
        </p>
        </div>
        <h2>Яйца</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products3.jpg">
        </figure>
        <p>Яйца — доступный источник белка с высокой питательной ценностью. Они легко готовятся и служат отличным завтраком или перекусом в течение дня. 
                Благодаря длительному ощущению сытости и пополнению запаса энергии, яйца помогают снизить желание съесть что-нибудь вредное.</p>
        <p>В яичных желтках содержится холин — важное органическое соединение, необходимое для нормальной работы всех клеток организма. Исследования указывают
                 на потенциальную роль холина в профилактике рака молочной железы, поэтому рекомендуется употреблять яйца целиком, не разделяя их на белки и желтки.</p>
        </div>
        <h3>Бананы</h3>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/women_products4.jpg">
        </figure>
        <p>Бананы — отличный выбор для ежедневного употребления, поскольку они богаты калием и магнием, необходимыми для поддержания здоровья сердца и артериального
                 давления, а также для поддержания стабильного эмоционального состояния и предотвращения депрессии.</p>
        <p>Диетолог Лори Тансман отмечает, что ненасыщенные жирные кислоты способствуют укреплению сердца, предупреждают развитие инсульта, гипертонии и депрессии,
                 а также снижают риск возникновения болезни Альцгеймера.
        </p>
        </div>
        <h2>Шампиньоны</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products5.jpg">
        </figure>
        <p>Грибы считаются тяжёлой пищей для желудка, но они обладают множеством полезных свойств. Согласно исследованию International Journal of Cancer, 
                регулярное употребление грибов может снизить риск развития рака молочной железы у женщин.</p>
        <p>Женщины из Китая, которые ежедневно употребляли всего 10 граммов свежих грибов (примерно один маленький шампиньон), снизили риск развития
                 рака молочной железы на 60%. Хотя учёные пока не установили причинно-следственную связь этого явления, очевидно, что грибы стоит включить
                  в свой рацион. Особенно это актуально в холодное время года, когда организм испытывает дефицит витамина D.</p>
        </div>
        <h3>Чечевица</h3>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/women_products6.jpg">
        </figure>
        <p>Девочкам-подросткам, беременным женщинам и спортсменкам важно включать в свой рацион продукты, богатые калием, магнием и железом.
                 Чечевица — отличный пример такого продукта, так как она содержит много клетчатки и белка.</p>
        <p>Исследование, проведённое в Манитобском университете в Канаде, показало, что у животных,
                 предрасположенных к гипертонии, сохраняется нормальное кровяное давление при диете, на 30 % состоящей из чечевицы.
        </p>
        </div>
        <h2>Томаты</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products7.jpg">
        </figure>
        <p>Женщинам, любящим помидоры и томатный сок, очень повезло. В этих продуктах содержится большое количество антиоксиданта ликопина,
                 который защищает клетки от свободных радикалов и предотвращает повреждение ДНК. Кроме того, томаты обладают естественным
                  солнцезащитным фактором SPF, обеспечивая коже защиту от ультрафиолетовых лучей.</p>
        <p>Согласно исследованиям Ратгерского университета в США, употребление продуктов, богатых томатами,
                 снижает риск развития рака молочной железы у женщин после наступления менопаузы.</p>
        </div>
        <h3>Брюссельская капуста</h3>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/women_products8.jpg">
        </figure>
        <p>Брюссельская капуста — недооценённый источник кальция, витаминов А, С и К. В 100 граммах
                 продукта содержится всего 43 калории, поэтому она подходит для тех, кто следит за фигурой и хочет сохранить стройность до глубокой старости.</p>
        <p>Эта разновидность капусты также интересна исследователям благодаря содержанию глюкозинолатов, которые потенциально могут
                 предотвратить развитие некоторых видов рака, включая рак молочной железы. Рекомендуется употреблять брюссельскую капусту 1–3 раза в неделю.
        </p>
        </div>
        <h2>Корица</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products9.jpg">
        </figure>
        <p>Ароматная и согревающая специя обладает мощными противовоспалительными и антибактериальными свойствами.
                 Она содержит коричный альдегид и проантоцианидины, которые могут предотвратить неврологические проблемы
                  и болезнь Альцгеймера. Используйте эту специю 7 раз в неделю для поддержания здоровья.</p>
        </div>
        <p></p><p></p><p></p>
        <h3>Авокадо</h3>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/women_products10.jpg">
        </figure>
        <p>Авокадо — уникальный фрукт, содержащий множество полезных витаминов и микроэлементов. Он помогает поддерживать здоровый вес,
                 благодаря содержанию омега-3 жирных кислот и способности снижать уровень холестерина в крови. Авокадо полезен для
                  сердечно-сосудистой и пищеварительной систем.</p>
        <p>Кроме того, в нём много фолиевой кислоты, что делает его незаменимым источником этого важного микроэлемента для женщин.
        </p>
        </div>
        <h2>Чеснок</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products11.jpg">
        </figure>
        <p>Эксперты утверждают, что чеснок содержит около 70 полезных фитонутриентов, которые благотворно влияют на организм человека.
                 Исследования показали, что регулярное употребление чеснока снижает риск развития рака яичников у женщин.</p>
        <p>Однако стоит учесть, что чеснок может быть противопоказан некоторым людям из-за своего острого вкуса и пряности.
                 Перед тем как включить его в свой рацион, рекомендуется проконсультироваться с врачом.</p>
        </div>
        <h3>Грецкие орехи, миндаль, пекан</h3>
        <div id="picture-left">
                <figure class="left">
                <img src="/static/images/women_products12.jpeg">
        </figure>
        <p>Небольшие, но очень питательные и калорийные продукты содержат множество витаминов и ценных минералов.
                 Согласно исследованиям, их регулярное употребление служит отличной профилактикой заболеваний сердца и нервной системы.</p>
        <p>Доктор медицинских наук Лорен Манакер отмечает, что женщинам особенно важно уделять внимание продуктам, 
                поддерживающим психическое здоровье. Один из таких продуктов — грецкие орехи.
                Орехи можно использовать в качестве перекуса или посыпать ими десерты, салаты и вторые блюда.
        </p>
        </div>
        <h2>Красное вино</h2>
        <div id="picture-right">
                <figure class="right">
                <img class = "picture" src="/static/images/women_products13.jpg">
        </figure>
        <p>Гарвардские исследования с участием более 14 тысяч женщин среднего возраста продемонстрировали, что употребление одного
                 бокала красного вина в день существенно увеличивает шансы женщин достичь возраста 70 лет без хронических, психических
                  и физических проблем.</p>
        <p>Также было обнаружено, что этот напиток помогает женщинам дольше сохранять молодость. Однако необходимо соблюдать умеренность
                 и вести здоровый образ жизни.</p>
        </div>
        <p>
                В современном мире существует огромное разнообразие продуктов, и пищевая промышленность постоянно предлагает нам новые готовые решения.
                 Люди всё реже готовят самостоятельно, предпочитая разогревать заранее приготовленную продукцию. Благодаря этому каждый может выбрать для
                  себя наиболее подходящие продукты, ориентируясь на индивидуальные потребности организма в питательных веществах, минералах, витаминах и
                   пищевых волокнах.
        </p>
        <p>
                С точки зрения диетологии, мужчины и женщины могут употреблять одни и те же продукты, разница заключается лишь в количестве и балансе
                 нутриентов. Важно научиться прислушиваться к своему организму, так как он сам подсказывает, каких элементов ему не хватает. Сигналом может
                  служить желание съесть определённый продукт, возникающее при чувстве голода.
        </p>
</div>
        <p></p>

{% endblock -%} 

{% block footer -%}
<footer>
        <div class="textcols">
                <div class="textcols-item" style="text-align: left; padding-left:200px">
                        <h2>Бюстгальтериум</h2>
                        <a href="https://t.me/bustgalteriym">t.me/bustgalteriym</a>
                </div>
                <div class="textcols-item"style="text-align: left; padding-left:200px">
                        <p>Наши контакты:</p>
                        <p>+79827942449</p>
                        <p>olgabeznosova2@gmail.com</p>
                        <p>Ижевск, ул. Университетская 1,</p>
                        <p>2 этаж, офис 223</p>
                </div>
        </div>
</footer>
{% endblock -%} 
</html>