<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
{% block title -%}
{% if title -%}
        <title>Бюстгальтериум - {{title}}</title>
{% else -%}
        <title>Бюстгальтериум</title>
{% endif -%}     
{% endblock -%}        
</head>
<header>
<div id="siteTitle">
<div id="logo" >
<img id="logo" src="/static/images/title.png" width="100" height="50" alt="">
</div>
</div>        
{% block content -%}
        {% block mainmenu -%}
<ul class="mainmenu" id="ul_menu">
        {% for m in menu -%}
<li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
</ul>
        {% endblock mainmenu -%}
<div class="clear"></div>
</header>
<div id="zebras">
   
    <div id="healthtitle">
        <div id="space">
        </div>
        <div id="space">
        </div>
        <h2 id="nameTag2white">Психология</h2>
        <p></p>
        <h1 id="nameTag1white">Скачки на зебрах</h1>
        <h3 id="nameTag3white">Мария Шутова</h3>
        <div id="space">
        </div>
        
        <div id="space">
        </div>
        
    </div>
    
</div>
<p></p>
<div id="paraBlock">     
<div id="greyText">
        <p>— Ты когда-нибудь слышал термин «регрессия к среднему значению»?<br>
            — Нет.<br>
            — Это технический способ сказать «всё возвращается на круги своя».<br>
            — То есть всегда становится лучше?<br>
            — Скорее... не может всегда быть плохо.<br>
            — И не важно, сколько плохого произошло?<br>
            — Или... хорошего.<br>
            — Всегда должно быть равновесие...<br>
            — ... Регрессия к среднему значению.<br>
            <br>
            Teen Wolf</p>        
</div>
</div>
<div id="state">
        <p>Одно из главенствующих и соблазняющих в детстве — сохранение беззаботности и улыбки до ушей: вкусно покушал — счастлив, построил
            снежную крепость — счастлив, расшиб коленку при катании на велике – смеёшься, тащишь виновника происшествия за собой с гордой
            поднятой головой: «Шрамы украшают. Отныне я получил звание бойца».
        </p><p>
            Почему взрослые такие «проблемные»? Чем их обидела жизнь? Не могут расслабиться, погрязли в работе, быте, тревогах. Они и не
            живут вовсе. Трактуют о черно-белых зебрах и кичатся дежурными фразами: «Не бывает счастья без несчастья. Вот вырастешь – поймешь».
        </p>
        <p>
        Выросла. Убедилась на опыте. Поняла.
        </p>
        <p>
            Меньше улыбок. Меньше смеха. Не эмоции, а пелена. Хочется одного – проснуться, лишь бы прекратилось. Но ты не просыпаешься.
             И с ужасом осознаешь, что это не какой-то кошмар — это твоя жизнь. А ты уже не беззаботный ребенок — ты взрослый.
        </p>
        <p>
            Детские мысли только о белых конях покатились к чертям. Заземляешься. Цепляешься за черно-белых зебр и повторяешь: «И это тоже пройдет».
        </p>
        <p>
            После того как мне надоели затяжные откаты от черных полос, я решила попытаться начать развивать маломальскую эмоциональную стабильность,
             которая бы помогла справляться со стрессом и сделала жизнь более размеренной и гармоничной.
        </p>
        <p>
            В то время я познакомилась с термином «гедонистическая адаптация». Концепцию гедонистической беговой дорожки предложили в 1970-е
             годы американские ученые Филип Брикман и Дональд Кэмпбелл.
        </p>
        <div id="zebras1">
   
            <div id="healthtitle">
                <div id="space">
                </div>
                <div id="space">
                </div>
                <div id="space">
                </div>
                <h4>Гедонистическая адаптация — тенденция людей держаться на относительно стабильном уровне счастья, а также быстро
                     возвращаться к этому уровню после серьезных позитивных или негативных событий или изменений в жизни. Миссия данного феномена
                      – защита психики от резких колебаний во внешней среде. Условно, происходит что-либо очень позитивное или негативное, и мы через
                       какое-то время, рано или поздно, приходим к тому состоянию, в котором были до этого события</h4>
                <div id="space">
                </div>
                
                <div id="space">
                </div>
                
            </div>
            
        </div>
        <br>
        <div id="youtube">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/oD9C8nwkTo8?si=bDI23BfNJ6V6lZja" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br>
    </div>
    <p>В одном исследовании речь шла о двух людях: один человек выиграл в лотерею около 1 000 000 долларов, другой — потерял ногу. То есть
         максимально противоположное — позитивное и негативное. И через какое-то время, полгода или год, эти два человека пришли к тому же уровню
          мироощущения, в котором они были до этого. То есть никакое событие не повлияло на жизнь людей кардинально через прошедшее время после адаптации
           к этому событию. Они остались в том состоянии, к которому привыкли. Над которым работали или не работали до этого.</p>
    <p>Недавно я узнала о тяжелых временах моих близких людей в 2000-е годы. Они продали старую квартиру, а все заработанные деньги потратили
         на новообретенную. И попались на мошенников. Бессонные ночи, бесконечные расследования, изнуряющие суды и работа с правоохранительными
          органами — ничего не помогло вернуть хотя бы часть громадной суммы и восстановить справедливость.</p>
    <p>Первое время им было мучительно тяжело. Экономили на всём. Иногда их продуктовая корзина состояла только из хлеба и молока.
         Мало того, что люди должны были смириться с материальной утратой, найти другое жилье, принять помощь от неравнодушных и
          приспособиться к обстоятельствам, выбившими всю почву из под ног. Они сделали куда большее — перестали обвинять судьбу за
           случившееся, отбросили причины жаловаться, продолжили жить и искать новые возможности. С тех пор я вновь убедилась в титанической
            стойкости и непоколебимой любви к жизни этих людей. Поблагодарила жизнь за существование такой опоры, на силу характера которой
             я могу равняться.</p>
    <p>
        Прошло время. С каждым днём линейный график их бюджета с отрицательным значением начал потихоньку выравниваться.
         А в дальнейшем расти. Разумеется, это не первые и не последние взлеты и падения в их жизни.
    </p>
    <p>
        Они мне что-то напомнили. Каждый из нас видел диаграмму сердцебиения. Именно наши успехи и
         неудачи делают нас живыми. Хочешь стабильную прямую? Это невозможно. Если только ты не мёртв.
    </p>
    <div id="graph">
    <img src="/static/images/zebra_graph.png">
</div>
    <p>
        После того как я узнала о гедонистической адаптации и аллегории о диаграмме, жить стало проще. Я перестала тонуть либо только в хорошем,
         либо только в плохом. Спокойно и с понимаем приняла обе стороны. Не в моих силах это контролировать. Это просто естество жизни.
    </p>
    <p>
        Однако в моём распоряжении выстраивание внутреннего фундамента. Той основы, которая отвечает за уровень счастья и делает нас счастливыми.
         Мы сами всегда в ответе за то, как себя чувствуем. Ежедневно и дисциплинированно работать над тем, что нас наполняет, чтобы не полагаться
          на приливы и отливы «грустненько мне сегодня или радостненько». Именно такая осознанность в этих темах – прямой путь к стабильности,
           жизнелюбию и гармоничному самоощущению.
    </p>
</div>

{% endblock -%} 

{% block footer -%}
<footer>
        <div class="textcols">
                <div class="textcols-item" style="text-align: left; padding-left:200px">
                        <h2>Бюстгальтериум</h2>
                        <a href="https://t.me/bustgalteriym">t.me/bustgalteriym</a>
                </div>
                <div class="textcols-item"style="text-align: left; padding-left:200px">
                        <p>Наши контакты:</p>
                        <p>+79827942449</p>
                        <p>olgabeznosova2@gmail.com</p>
                        <p>Ижевск, ул. Университетская 1,</p>
                        <p>2 этаж, офис 223</p>
                </div>
        </div>
</footer>
{% endblock -%} 
</html>